$include /etc/inputrc

# ref: https://wiki.archlinux.org/index.php/Readline

set colored-stats On
set completion-ignore-case On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On

set editing-mode vi
set show-mode-in-prompt on
$if term=linux
  set vi-ins-mode-string \1\e[?0c\2
  set vi-cmd-mode-string \1\e[?8c\2
$else
  set vi-ins-mode-string \1\e[6 q\2
  set vi-cmd-mode-string \1\e[2 q\2
$endif
$if mode=vi
  set keymap vi-command
  "\e[A": history-search-backward
  "\e[B": history-search-forward
  j: history-search-forward
  k: history-search-backward
  set keymap vi-insert
  "\e[A": history-search-backward
  "\e[B": history-search-forward
  # Shift-TAB cycles completions backward
  "\e[Z": menu-complete-backward
  TAB: menu-complete
  "jk": vi-movement-mode
  "kj": vi-movement-mode
$endif
